section.page
  header(role='banner')
    h1 Projective Detective
  div
    h3 What is this thing?
    p.
      Have you ever had this problem? You have a set of coordinates and you
      know where they are (building, intersection, etc.) but you have no idea in
      what projection they are. Don't you wish you could try every projection in
      existance and see what lines up? Now you can, Enter the Projective
      Detective!
    h3 Enter Info

