body
  nav.top-nav.tp-nav-light.cf(data-hook='navbar', role='navigation')
    input#menu-toggle.menu-toggle(type='checkbox')
    label(for='menu-toggle') Menu
    ul.list-unstyled.list-inline.cf
      li Projective Detective
      li
        a(href='/about') About
      li
        a(href='/logout') Logout
  .container(data-hook='page-container')

